<header class="navbar bg-primary d-flex justify-content-center p-3">
  <form class="d-flex col-md-4 js-form">
    <input
      class="form-control border-0 rounded-0 rounded-start"
      type="search"
      name="query"
      autocomplete="off"
      placeholder="Search"
      aria-label="Search"
      minlength="2"
      required
    />

    <button
      class="btn btn-light btn-sm rounded-0 border-0 rounded-end"
      type="submit"
    >
      <span class="material-icons-outlined align-middle">search</span>
    </button>
  </form>
</header>
